@import "tailwindcss";

@font-face {
  font-family: "Switzer";
  src: url("/fonts/Switzer-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --white: #f5f5f5;
  --black: #000;
  --dark-grey: #1A1A1A;
  --primary: #ff307c;
  --primary-border: #ff307c1a;
  --secondary: #514d4d;
  --secondary-light: #747474;
  --accent-purple: #d5bef2;
  --accent-purple-light: #763efc1a;
  --accent-blue: #bad7f7;
  --accent-red: #eabfcf;
  --accent-red-light: #d96d951a;
  --accent-yellow: #f8d5bc;
  --accent-yellow-light: #ff95631a;
  --accent-highlight: #ffecd7;
  --sponsor-diamond: #99fffa;
  --sponsor-diamond-border: #746cdf1a;
  --sponsor-diamond-text: #0d0762;
  --sponsor-gold: #ffcc99;
  --sponsor-gold-border: #d5924f1a;
  --sponsor-gold-text: #620707;
  --sponsor-silver: #e8e8e8;
  --sponsor-silver-border: #0000001a;
}

/* biome-ignore lint/suspicious/noUnknownAtRules: @theme is needed for tailwind theming */
@theme inline {
  --font-switzer: "Switzer", sans-serif;
  --font-mono: "IBM Plex Mono", monospace;

  --color-black: var(--black);
  --color-white: var(--white);
  --color-dark-grey: var(--dark-grey);
  --color-primary: var(--primary);
  --color-primary-border: var(--primary-border);
  --color-secondary: var(--secondary);
  --color-secondary-light: var(--secondary-light);
  --color-accent-purple: var(--accent-purple);
  --color-accent-purple-light: var(--accent-purple-light);
  --color-accent-blue: var(--accent-blue);
  --color-accent-red: var(--accent-red);
  --color-accent-red-light: var(--accent-red-light);
  --color-accent-yellow: var(--accent-yellow);
  --color-accent-yellow-light: var(--accent-yellow-light);
  --color-accent-highlight: var(--accent-highlight);
  --color-sponsor-diamond: var(--sponsor-diamond);
  --color-sponsor-diamond-border: var(--sponsor-diamond-border);
  --color-sponsor-diamond-text: var(--sponsor-diamond-text);
  --color-sponsor-gold: var(--sponsor-gold);
  --color-sponsor-gold-border: var(--sponsor-gold-border);
  --color-sponsor-gold-text: var(--sponsor-gold-text);
  --color-sponsor-silver: var(--sponsor-silver);
  --color-sponsor-silver-border: var(--sponsor-silver-border);

  --text-2xs: 0.625rem;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.75rem;
  --text-4xl: 2rem;
  --text-5xl: 2.25rem;
  --text-6xl: 2.75rem;
  --text-7xl: 3.25rem;
  --text-8xl: 4rem;
  --text-9xl: 5rem;

  --radius-2xs: 0.0625rem;
  --radius-xs: 0.125rem;
  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
  --radius-4xl: 2rem;
  --radius-full: 9999px;

  --shadow-md: 0 2px 6.5px rgb(0 0 0 / 0.25);
}

@layer base {
  html {
    font-family: var(--font-switzer);
    background-color: var(--color-white);
    color: var(--color-black);
    scroll-behavior: smooth;
  }
}
